<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/assets/images/favi.png">
  </head>
  <body>
    <header class="page-header" role="banner">
      <center>
        <a href="{{ site.url }}">
          <img src="https://github.com/codetocloudinc/artwork/blob/main/examples/images/current/code_to_cloud_1920_x_1080_desktop.png?raw=true"
               alt="Code To Cloud Logo"
               width="60%"
               style="border-radius: 18px;" />
        </a>
      </center>
      <!-- GitHub Buttons (requires https://buttons.github.io/buttons.js) -->
      <div align="center" style="margin-top: 1em;">
        <a class="github-button" href="https://github.com/codetocloudinc/platform-engineering-hub" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star codetocloudinc/platform-engineering-hub on GitHub">Star</a>
        <a class="github-button" href="https://github.com/codetocloudinc/platform-engineering-hub/fork" data-size="large" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork codetocloudinc/platform-engineering-hub on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/codetocloudinc/platform-engineering-hub/issues" data-size="large" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issues for codetocloudinc/platform-engineering-hub on GitHub">Issues</a>
        <a class="github-button" href="https://github.com/codetocloudinc/platform-engineering-hub/graphs/contributors" data-size="large" data-icon="octicon-organization" aria-label="Contributors to codetocloudinc/platform-engineering-hub on GitHub">Contributors</a>
        <a class="github-button" href="https://www.codetocloud.io" data-size="large" aria-label="Website">Website</a>
      </div>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <p align="center">
        <a href="https://github.com/codetocloudinc/platform-engineering-hub" class="btn">View on GitHub</a>
        <a href="https://www.linkedin.com/company/code-to-cloud/" class="btn">LinkedIn</a>
        <a href="https://www.codetocloud.io/joinus" class="btn">Join Slack</a>
        <a href="https://www.codetocloud.io" class="btn">Website</a>
      </p>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <div>
          <h3>Join Code to Cloud Community on Slack</h3>
          <span class="site-footer-owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
          </span>
          <span class="site-footer-credits">
            This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
            <div align="center">
              <img src="https://hitwebcounter.com/counter/counter.php?page=7703277&style=0006&nbdigits=5&type=page&initCount=0" title="Total Website Hits" alt="Web Hits" border="0" />
            </div>
          </span>
          <div id="wcb" class="carbonbadge"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer></script>
        </div>
      </footer>
    </main>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>